.img-logo{
    max-height: 18px;
    max-height: 25px;
    margin-right: 15px;
}

.bg-dark {
    background-color: #078917 !important;  /* Se reemplaza el color original de la plantilla de bootstrap */
  }

  .bg-warning{
    background-color:#e7b317 !important;
  }

  .sidebar {
    background-color: #0f2412 !important;
  }
  
  a {
    color: #034b0c;
  }

  


  #myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
  }